root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{diff,patch}]
trim_trailing_whitespace = false
insert_final_newline = false

[*.{sh,bash,zsh,py,lua}]
indent_style = space
indent_size = 4

[*.{rb,js,jsx,ts,tsx,yml,yaml,json,html,css}]
indent_style = space
indent_size = 2
